.littlecard-container{
    width: 100%;
}

.littlecard-container p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 80px;
}

.littlecard-container > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.littlecard-container > p > img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}